<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfjy.student.dao.StudentDao">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, city, classId, isDel, createTime, updateTime
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfjy.student.bean.domain.StudentDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="city" property="city" />
        <result column="classId" property="classId" />
        <result column="isDel" property="isDel" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 根据班级id获取学生列表 -->
    <select id="getStudentsByClass" resultType="com.hfjy.student.bean.domain.StudentDO" parameterType="int">
        select <include refid="Base_Column_List"/> from hackathon_student where classId=#{classId}
    </select>
</mapper>
